<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>applicationUuid</key>
<string>c09dd8ef-823b-44e5-aa55-e48c39f1b32d</string>
<key>haventecEmail</key>
<string>justin.crosbie@haventec.com</string>
<key>haventecUsername</key>
<string>jchapi18_2</string>
<key>pinCode</key>
<string>1234</string>
<key>serverUrl</key>
<string>https://api.haventec.com/authenticate/v1-2</string>
<key>apiKey</key>
<string>53517059-8785-4288-87ed-d2002ca0b937</string>
</dict>
</plist>
